[submodule "Packages/com.gdk.core"]
	path = Packages/com.gdk.core
	url = git@github.com:NightHowlGames/GameFoundation.git
[submodule "Packages/com.gdk.3rd"]
	path = Packages/com.gdk.3rd
	url = git@github.com:NightHowlGames/ThirdPartyServices.git
[submodule "unity-build-workflows"]
	path = unity-build-workflows
	url = https://github.com/Cuvara/unity-build-workflows
